@import "./variables";
@import "./function";

/*--- Reset --*/
html {
  font-size: 100%;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body {
  width: 100%;
  height: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
ol,
ul {
  list-style: none;
}
.container {
  max-width: rem(1100);
  width: 100%;
  margin: 0 auto;
}
/*---Style ---*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: rem(20);
}
.header {
  padding: rem(84) rem(20);
  position: relative;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: rem(35);
  }
  &__title {
    font-size: clamp(rem(28), 4vw, rem(49));
    color: $gray;
    font-weight: 300;
    > span {
      color: $veryDarkBlue;
      font-weight: 700;
    }
  }
  &__sub--title {
    line-height: rem(8);
    color: $veryDarkBlue;
  }

  .form {
    width: 100%;
    margin-top: rem(12);
    form {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: rem(27);
      @media (min-width: 650px) {
        flex-direction: row;
      }
    }
    #text {
      position: absolute;
      font-size: rem(12);
      text-align: center;
      top: rem(56);
      left: rem(50);
    }
    &__email {
      position: relative;
      width: 100%;
      height: rem(54);
      border-radius: rem(50);
      padding: 0 rem(32);
      border: 1px solid $blue;
      outline: none;
      color: $gray;
      display: flex;
      align-items: center;
      font-size: rem(16);
      font-weight: 300;
      &.invalid {
        border: 2px solid $lightRed;
      }
      &.valid {
        border: 2px solid #00ff00a9;
      }
      &:focus-visible {
        outline: 3px dashed $blue;
        outline-offset: 4px;
      }
      &:focus {
        outline: none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
          0 2px 12px rgba(0, 0, 0, 0.23);
      }
      @media (min-width: 650px) {
        width: rem(431);
      }
    }
    &__submit {
      width: 100%;
      height: rem(54);
      border-radius: rem(50);
      background-color: $blue;
      font-weight: 700;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      align-self: flex-start;
      transition: all 0.9s ease;
      &:hover {
        opacity: 0.7;
      }
      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: 3px dashed $blue;
        outline-offset: 4px;
      }
      @media (min-width: 650px) {
        width: rem(205);
      }
    }
  }
}
main {
  display: grid;
  grid-gap: rem(68);
  padding: 0 rem(10);
  .img {
    img {
      width: rem(640);
    }
  }
  .social-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(20);
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(20);
    }
    .fab {
      font-size: rem(16);
      background-color: #fff;
      color: $blue;
      border: 1px solid $blue;
      border-radius: 50%;
      padding: rem(6);
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
    .fa-facebook-f {
      font-size: rem(17);
      padding: rem(6) rem(9);
    }
    p {
      font-size: rem(12);
    }
  }
}
